<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guru_oneulmaru">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="오늘마루"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.guru_oneulmaru.SplashActivity"
            android:theme="@style/SplashThema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.guru_oneulmaru.JoinActivity" />
        <activity android:name="com.example.guru_oneulmaru.LoginActivity"></activity>
        <activity android:name="com.example.guru_oneulmaru.MainActivity"></activity>
    </application>

</manifest>